<!-- Start Header -->
<%- include("../partials/header") %>
<!-- End Header -->

<!-- Start Container -->
<div class="content">
  <h1><a href="/trainer/createCourse">Tạo khóa học mới</a></h1>
  <br />
  <table class="table">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Tên khóa học</th>
        <th scope="col">Giảng viên</th>
        <th scope="col">Giá gốc</th>
        <th scope="col">Giá sale</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% courses.forEach((course,index) => { %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td>
          <a href="/trainer/<%= course.slug %>"><%= course.name %></a>
        </td>
        <td><%= course.owner_id %></td>
        <td>
          <%= course.previous_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g,
          ".") %><sup>đ</sup> %> %>
        </td>
        <td>
          <%= course.present_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g,
          ".") %><sup>đ</sup> %>
        </td>
        <td>
          <a
            href="/trainer/<%= course._id %>/updateCourse"
            style="color: #0a58ca"
            >Sửa</a
          >
        </td>
        <td>
          <button
            style="
              color: #0a58ca;
              outline: none;
              border: none;
              background: none;
            "
            data-bs-toggle="modal"
            data-bs-target="#deleteCourse"
            data-bs-id="<%= course._id %>"
          >
            Xóa
          </button>
        </td>
      </tr>
      <% }) %>
    </tbody>
    <% if(courses.length == 0){ %>
    <span>Hiện không có khóa học nào</span>
    <% } %>
  </table>
</div>

<!-- End Container -->

<!-- Start Footer -->
<!-- End Footer -->

<!-- Confirm delete course -->
<div id="deleteCourse" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa khóa học?</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa khóa học này</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">
          Xóa bỏ
        </button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Hủy
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Hidden Form -->
<form method="POST" name="delete-course-form"></form>

<%- include('../partials/footer'); %>
<script>
  var exampleModal = document.getElementById('deleteCourse');
  var courseID;
  var deleteForm = document.forms['delete-course-form'];
  var deleteCourseBtn = document.getElementById('btn-delete-course');
  exampleModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget;
    var courseID = button.getAttribute('data-bs-id');
    deleteCourseBtn.onclick = function () {
      deleteForm.action = `/trainer/${courseID}/deleteCourse?_method=DELETE`;
      deleteForm.submit();
    };
  });
</script>
