<!-- Start Header -->
<%- include("../partials/header") %>
<!-- End Header -->

<!-- Start Container -->
<div class="course-content">
  <form method="POST" action="/courses/<%= course._id %>?_method=PUT">
    <h1 style="text-align: center; font-size: 30px">Cập nhật khóa học</h1>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Tên khóa học</label>
      <input
        type="text"
        class="form-control"
        value="<%= course.title %>"
        id="exampleInputEmail1"
        name="title"
        required
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Giảng viên</label>
      <input
        type="text"
        class="form-control"
        value="<%= course.teacher %>"
        id="exampleInputEmail1"
        name="teacher"
        required
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Giá gốc</label>
      <input
        type="number"
        class="form-control"
        value="<%= course.previous_price %>"
        id="exampleInputEmail1"
        name="previous_price"
        required
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"
        >Giá sau khi giảm</label
      >
      <input
        type="number"
        class="form-control"
        value="<%= course.present_price %>"
        id="exampleInputEmail1"
        name="present_price"
        required
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"
        >Link hình ảnh khóa học</label
      >
      <input
        type="text"
        class="form-control"
        value="<%= course.img_src %>"
        id="exampleInputEmail1"
        name="img_src"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Lưu lại</button>
  </form>
</div>

<!-- End Container -->

<!-- Start Footer -->
<%- include('../partials/footer'); %>
<!-- End Footer -->
