<!-- Start Header -->
<%- include("partials/header") %>
<!-- End Header -->

<script src="https://www.paypal.com/sdk/js?client-id=AVMS7wPrVok4AzcjazhlPj7ysZvRUuZe0I_EXBsluGci1n_npn8LqNiUFD0rG9nXGWXwpT98qtUQP-Mw"></script>
<script src="js/checkout.js"></script>

<!-- Start Container -->
<div class="content">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">STT</th>
        <th scope="col">Tên khóa học</th>
        <th scope="col">Giảng viên</th>
        <th scope="col">Giá gốc</th>
        <th scope="col">Giá sale</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% courses.forEach((course,index) => { %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td>
          <a href="/trainer/<%= course.slug %>"><%= course.name %></a>
        </td>
        <td><%= course.owner_id %></td>
        <td><%= course.previous_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %><sup>đ</sup> %> %></td>
        <td><%= course.present_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %><sup>đ</sup> %></td>
        <td>
          <a href="/trainer/<%= course._id %>/updateCourse" style="color: #0a58ca">Sửa</a>
        </td>
        <td>
          <button
            style="color: #0a58ca; outline: none; border: none; background: none"
            data-bs-toggle="modal"
            data-bs-target="#deleteCourse"
            data-bs-id="<%= course._id %>"
          >
            Xóa
          </button>
        </td>
      </tr>
      <% }) %>
    </tbody>
    <% if(courses.length == 0){ %>
    <span>Hiện không có khóa học nào</span>
    <% } %>
  </table>
  <div id="paypal"></div>
</div>
<!-- End Container -->

<!-- Start Footer -->
<%- include('partials/footer'); %>
<!-- End Footer -->
