    <!-- Start Header -->
    <%- include("partials/header") %>
    <!-- End Header -->

    <!-- Start Wrapper -->
    <div class="wrapper">
      <div class="home-container">
        <!-- Start Menu and banner -->
        <section class="menu_dashboard">
          <div class="menu">
            <ul>
              <li>
                <a href="#"><i class="fa fa-language"></i>Ngoại ngữ</a>
                <ul class="sub-menu-ul">
                  <li class="sub-menu"><a href="#">Tất cả Ngoại ngữ</a></li>
                  <li class="sub-menu"><a href="#">Tiếng Hàn</a></li>
                  <li class="sub-menu"><a href="#">Tiếng Anh</a></li>
                  <li class="sub-menu"><a href="#">Tiếng Trung</a></li>
                  <li class="sub-menu"><a href="#">Tiếng Nhật</a></li>
                </ul>
              </li>
              <li>
                <a href="#"><i class="fa fa-line-chart"></i>Marketing</a>
                <ul class="sub-menu-ul">
                  <li class="sub-menu"><a href="#">Tất cả Marketing</a></li>
                  <li class="sub-menu"><a href="#">Marketing Online</a></li>
                  <li class="sub-menu"><a href="#">Google Ads</a></li>
                  <li class="sub-menu"><a href="#">Seo</a></li>
                  <li class="sub-menu"><a href="#">Branding</a></li>
                  <li class="sub-menu"><a href="#">Content Marketing</a></li>
                  <li class="sub-menu"><a href="#">Video marketing</a></li>
                </ul>
              </li>
              <li>
                <a href="#"><i class="fa fa-desktop"></i>Tin học văn phòng</a>
                <ul class="sub-menu-ul">
                  <li class="sub-menu"><a href="#">Tất cả Tin học văn phòng</a></li>
                  <li class="sub-menu"><a href="#">Excel</a></li>
                  <li class="sub-menu"><a href="#">Word</a></li>
                  <li class="sub-menu"><a href="#">PowerPoint</a></li>
                </ul>
              </li>
              <li>
                <a href="#"><i class="fa fa-paint-brush"></i>Thiết kế</a>
                <ul class="sub-menu-ul">
                  <li class="sub-menu"><a href="#">Tất cả Thiết kế</a></li>
                  <li class="sub-menu"><a href="#">Thiết kế quảng cáo</a></li>
                  <li class="sub-menu"><a href="#">Phần mềm thiết kế</a></li>
                  <li class="sub-menu"><a href="#">Thiết kế Web</a></li>
                  <li class="sub-menu"><a href="#">Kiến Trúc, Nội Thất</a></li>
                </ul>
              </li>
              <li>
                <a href="#"><i class="fa fa-rocket"></i>Kinh doanh</a>
                <ul class="sub-menu-ul">
                  <li class="sub-menu"><a href="#">Tất cả Kinh doanh</a></li>
                  <li class="sub-menu"><a href="#">Bất động sản</a></li>
                  <li class="sub-menu"><a href="#">Crypto</a></li>
                  <li class="sub-menu"><a href="#">Kinh doanh Online</a></li>
                  <li class="sub-menu"><a href="#">Startup</a></li>
                  <li class="sub-menu"><a href="#">Kinh doanh Cafe</a></li>
                  <li class="sub-menu"><a href="#">Kiếm tiền Online</a></li>
                  <li class="sub-menu"><a href="#">Quản trị doanh nghiệp</a></li>
                  <li class="sub-menu"><a href="#">Chứng khoán</a></li>
                  <li class="sub-menu"><a href="#">Dropshipping</a></li>
                  <li class="sub-menu"><a href="#">Kế Toán</a></li>
                  <li class="sub-menu"><a href="#">Đầu tư forex</a></li>
                </ul>
              </li>
              <li>
                <a href="#"><i class="fa fa-lightbulb-o"></i>Kỹ năng mềm</a>
                <ul class="sub-menu-ul">
                  <li class="sub-menu"><a href="#">Tất cả Kỹ năng mềm</a></li>
                  <li class="sub-menu"><a href="#">Thương hiệu cá nhân</a></li>
                  <li class="sub-menu"><a href="#">Tài chính cá nhân</a></li>
                  <li class="sub-menu"><a href="#">Đàm phán</a></li>
                  <li class="sub-menu"><a href="#">Kỹ năng lãnh đạo</a></li>
                  <li class="sub-menu"><a href="#">Quản trị nhân sự</a></li>
                  <li class="sub-menu"><a href="#">MC</a></li>
                  <li class="sub-menu"><a href="#">Rèn luyện trí nhớ</a></li>
                  <li class="sub-menu"><a href="#">Kỹ năng mềm</a></li>
                  <li class="sub-menu"><a href="#">Giao tiếp</a></li>
                  <li class="sub-menu"><a href="#">Kỹ năng quản lý</a></li>
                  <li class="sub-menu"><a href="#">Thuyết trình</a></li>
                </ul>
              </li>
              <li>
                <a href="#"><i class="fa fa-shopping-cart"></i>Bán hàng</a>
                <ul class="sub-menu-ul">
                  <li class="sub-menu"><a href="#">Tất cả Bán hàng</a></li>
                  <li class="sub-menu"><a href="#">Bán hàng Online</a></li>
                  <li class="sub-menu"><a href="#">Telesales</a></li>
                  <li class="sub-menu"><a href="#">Bán hàng livestream</a></li>
                  <li class="sub-menu"><a href="#">Chăm sóc khách hàng</a></li>
                  <li class="sub-menu"><a href="#">Chiến lược bán hàng</a></li>
                </ul>
              </li>
              <li>
                <a href="#"><i class="fa fa-code"></i>CNTT</a>
                <ul class="sub-menu-ul">
                  <li class="sub-menu"><a href="#">Tất cả CNTT</a></li>
                  <li class="sub-menu"><a href="#">Lập trình</a></li>
                  <li class="sub-menu"><a href="#">Ngôn ngữ lập trình</a></li>
                  <li class="sub-menu"><a href="#">Lập Trình Web</a></li>
                  <li class="sub-menu"><a href="#">Lập trình Android</a></li>
                </ul>
              </li>
              <li>
                <a href="#"><i class="fa fa-heartbeat"></i>Sức khỏe</a>
                <ul class="sub-menu-ul">
                  <li class="sub-menu"><a href="#">Tất cả Sức khoẻ</a></li>
                  <li class="sub-menu"><a href="#">Giảm cân</a></li>
                  <li class="sub-menu"><a href="#">Thiền</a></li>
                  <li class="sub-menu"><a href="#">Phòng the</a></li>
                  <li class="sub-menu"><a href="#">Giảm stress</a></li>
                  <li class="sub-menu"><a href="#">Fitness - Gym</a></li>
                  <li class="sub-menu"><a href="#">Tình yêu</a></li>
                  <li class="sub-menu"><a href="#">Yoga</a></li>
                  <li class="sub-menu"><a href="#">Massage</a></li>
                </ul>
              </li>
              <li>
                <a href="#"><i class="fa fa-cutlery"></i>Phong cách sống</a>
                <ul class="sub-menu-ul">
                  <li class="sub-menu"><a href="#">Tất cả Phong cách sống</a></li>
                  <li class="sub-menu"><a href="#">Pha chế</a></li>
                  <li class="sub-menu"><a href="#">Làm bánh</a></li>
                  <li class="sub-menu"><a href="#">Làm đẹp</a></li>
                  <li class="sub-menu"><a href="#">Handmade</a></li>
                  <li class="sub-menu"><a href="#">Tử vi</a></li>
                  <li class="sub-menu"><a href="#">Ảo thuật</a></li>
                  <li class="sub-menu"><a href="#">Nhạc cụ</a></li>
                  <li class="sub-menu"><a href="#">Ẩm thực - Nấu ăn</a></li>
                  <li class="sub-menu"><a href="#">Nhảy</a></li>
                  <li class="sub-menu"><a href="#">Phong thuỷ</a></li>
                  <li class="sub-menu"><a href="#">Luyện giọng</a></li>
                </ul>
              </li>
              <li>
                <a href="#"><i class="fa fa-child"></i>Nuôi dạy con</a>
                <ul class="sub-menu-ul">
                  <li class="sub-menu"><a href="#">Tất cả Nuôi dạy con </a></li>
                  <li class="sub-menu"><a href="#">Mang Thai</a></li>
                  <li class="sub-menu"><a href="#">Dạy con thông minh</a></li>
                  <li class="sub-menu"><a href="#">Chăm sóc bé yêu</a></li>
                </ul>
              </li>
              <li>
                <a href="#"><i class="fa fa-group"></i>Hôn nhân</a>
                <ul class="sub-menu-ul">
                  <li class="sub-menu"><a href="#">Tất cả Hôn nhân</a></li>
                  <li class="sub-menu"><a href="#">Hạnh phúc gia đình</a></li>
                  <li class="sub-menu"><a href="#">Đời sống vợ chồng</a></li>
                </ul>
              </li>
              <li>
                <a href="#"><i class="fa fa-camera"></i>Nhiếp ảnh, dựng phim</a>
                <ul class="sub-menu-ul">
                  <li class="sub-menu"><a href="#">Tất cả Nhiếp ảnh, dựng phim</a></li>
                  <li class="sub-menu"><a href="#">Dựng phim</a></li>
                  <li class="sub-menu"><a href="#">Chụp ảnh</a></li>
                  <li class="sub-menu"><a href="#">Kỹ xảo</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="banner"><img src="./img/banner.png" alt="" /></div>
        </section>
        <!-- End Menu and banner -->

        <!-- Start Search Course Mobile -->
        <section id="search_course_mobile">
          <h3>Bạn muốn học gì hôm nay?</h3>
          <div class="searchbar">
            <input type="text" placeholder="Tìm khóa học, giảng viên" />
            <i class="fa fa-search search" aria-hidden="true"></i>
          </div>
        </section>
        <!-- End Search Course Mobile -->

        <!-- Start Best Sales -->
        <section id="best_sales"> 
          <div class="tile_and_watchmore">
            <h4 class="title">TOP BÁN CHẠY</h4>
            <a href="#" class="watchmore">Xem thêm <i class="fa fa-angle-double-right"></i></a>
          </div>
          <div class="grid drag_to_scroll best_sales_render_courses">
            <div class="grid_items">
              <a href="#">
                <span class="sale-off"> -72%</span>
                <img src="./img/khoa-hoc-dem-hat-guitar-can-ban.jpg" alt="" />
                <div class="course_content">
                  <h3 class="course_title">Học đệm hat Guitar cùng Haketu</p></h3>
                  <div class="teacher_and_prevPrice">
                    <span class="teacher_name">Hà Kê Tú</span>
                    <span class="previous_price">700.000<sup>đ</sup></span>
                  </div>
                  <div class="stars_and_presentPrice">
                    <span class="star_rate">
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      (162)
                    </span>
                    <span class="present_price">199.000<sup>đ</sup></span>
                  </div>
                </div>
              </a>
            </div>
            <div class="grid_items">
              <a href="#">
                <span class="sale-off"> -58%</span>
                <img src="./img/tu-do-tai-chinh-cung-chung-khoan.jpg" alt="" />
                <div class="course_content">
                  <h3 class="course_title">Tự do tài chính cùng chứng khoán</p></h3>
                  <div class="teacher_and_prevPrice">
                    <span class="teacher_name">Đặng Trọng Khang</span>
                    <span class="previous_price">600.000<sup>đ</sup></span>
                  </div>
                  <div class="stars_and_presentPrice">
                    <span class="star_rate">
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      (622)
                    </span>
                    <span class="present_price">250.000<sup>đ</sup></span>
                  </div>
                </div>
              </a>
            </div>
            <div class="grid_items">
              <a href="#">
                <span class="sale-off"> -34%</span>
                <img src="./img/khoa-hoc-nhap-mon-chung-khoan.jpg" alt="" />
                <div class="course_content">
                  <h3 class="course_title">Nhập môn chứng khoán</p></h3>
                  <div class="teacher_and_prevPrice">
                    <span class="teacher_name">Đặng Trọng Khang</span>
                    <span class="previous_price">600.000<sup>đ</sup></span>
                  </div>
                  <div class="stars_and_presentPrice">
                    <span class="star_rate">
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      (430)
                    </span>
                    <span class="present_price">399.000<sup>đ</sup></span>
                  </div>
                </div>
              </a>
            </div>
            <div class="grid_items">
              <a href="#">
                <span class="sale-off"> -20%</span>
                <img src="./img/thiet-ke-trinh-chieu-powerpoint-2016.jpg" alt="" />
                <div class="course_content">
                  <h3 class="course_title">Thiết kế trình chiếu PowerPoint 2016 từ A-Z</p></h3>
                  <div class="teacher_and_prevPrice">
                    <span class="teacher_name">Đỗ Trung Thành</span>
                    <span class="previous_price">500.000<sup>đ</sup></span>
                  </div>
                  <div class="stars_and_presentPrice">
                    <span class="star_rate">
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      (25)
                    </span>
                    <span class="present_price">399.000<sup>đ</sup></span>
                  </div>
                </div>
              </a>
            </div>
            <div class="grid_items">
              <a href="#">
                <span class="sale-off"> -38%</span>
                <img src="./img/quan-tri-cuoc-doi-le-tham-duong.jpg" alt="" />
                <div class="course_content">
                  <h3 class="course_title">Quản trị cuộc đời - Đường đến thành công</p></h3>
                  <div class="teacher_and_prevPrice">
                    <span class="teacher_name">Ts. Lê Thẩm Dương</span>
                    <span class="previous_price">800.000<sup>đ</sup></span>
                  </div>
                  <div class="stars_and_presentPrice">
                    <span class="star_rate">
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      (156)
                    </span>
                    <span class="present_price">499.000<sup>đ</sup></span>
                  </div>
                </div>
              </a>
            </div>
            <div class="grid_items">
              <a href="#">
                <span class="sale-off"> -34%</span>
                <img src="./img/khoa-hoc-lam-chu-giong-noi.jpg" alt="" />
                <div class="course_content">
                  <h3 class="course_title">Làm chủ giọng nói</p></h3>
                  <div class="teacher_and_prevPrice">
                    <span class="teacher_name">Trần Thị Minh Hải</span>
                    <span class="previous_price">600.000<sup>đ</sup></span>
                  </div>
                  <div class="stars_and_presentPrice">
                    <span class="star_rate">
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      (294)
                    </span>
                    <span class="present_price">399.000<sup>đ</sup></span>
                  </div>
                </div>
              </a>
            </div>
            <div class="grid_items">
              <a href="#">
                <span class="sale-off"> -34%</span>
                <img src="./img/guitar-dem-hat-30-ngay-cung-hien-rau.jpg" alt="" />
                <div class="course_content">
                  <h3 class="course_title">Guitar đệm hát 30 ngày cùng Hiển Râu</p></h3>
                  <div class="teacher_and_prevPrice">
                    <span class="teacher_name">Hiển Râu</span>
                    <span class="previous_price">600.000<sup>đ</sup></span>
                  </div>
                  <div class="stars_and_presentPrice">
                    <span class="star_rate">
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      (162)
                    </span>
                    <span class="present_price">399.000<sup>đ</sup></span>
                  </div>
                </div>
              </a>
            </div>
            <div class="grid_items">
              <a href="#">
                <span class="sale-off"> -34%</span>
                <img src="./img/lam-chu-word-tu-co-ban-den-nang-cao.jpg" alt="" />
                <div class="course_content">
                  <h3 class="course_title">Làm chủ Word 2016 từ cơ bản đến nâng cao</p></h3>
                  <div class="teacher_and_prevPrice">
                    <span class="teacher_name">Đỗ Trung Thành</span>
                    <span class="previous_price">500.000<sup>đ</sup></span>
                  </div>
                  <div class="stars_and_presentPrice">
                    <span class="star_rate">
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      (45)
                    </span>
                    <span class="present_price">499.000<sup>đ</sup></span>
                  </div>
                </div>
              </a>
            </div>
            <% courses.map(course => { %> 
            <div class="grid_items">
             <a href="./courses/<%= course.slug %> ">
                <span class="sale-off"> -<%= Math.ceil(100 - (course.present_price / course.previous_price) * 100) %>%</span>
                <img src="<%= course.img_src %>" alt="" />
                <div class="course_content">
                  <h3 class="course_title"><%= course.name %> </p></h3>
                  <div class="teacher_and_prevPrice">
                    <span class="teacher_name"><%= course.teacher %></span>
                    <span class="previous_price"><%= course.previous_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %><sup>đ</sup></span>
                  </div>
                  <div class="stars_and_presentPrice">
                    <span class="star_rate">
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      (<%= course.review_count %>)
                    </span> 
                    <span class="present_price"><%= course.present_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %><sup>đ</sup></span>
                  </div>
                </div>
              </a>
            </div>
            <% })%> 
          </div>
        </section>
        <!-- End Best Sales -->

        <!-- Start Super Sales -->
        <section id="best_sales" class="super_sale"> 
          <div class="tile_and_watchmore">
            <h4 class="title">SIÊU ƯU ĐÃI HÔM NAY</h4>
            <a href="#" class="watchmore">Xem thêm <i class="fa fa-angle-double-right"></i></a>
          </div>
          <div class="grid drag_to_scroll">
            <div class="grid_items">
              <a href="#">
                <span class="sale-off"> -52%</span>
                <img src="./img/P1150726_m_1632708885.jpg" alt="" />
                <div class="course_content">
                  <h3 class="course_title">Guitar tốc độ Shredder</p></h3>
                  <div class="teacher_and_prevPrice">
                    <span class="teacher_name">Cụ Minh Rock</span>
                    <span class="previous_price">2.500.000<sup>đ</sup></span>
                  </div>
                  <div class="stars_and_presentPrice">
                    <span class="star_rate">
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      (9)
                    </span>
                    <span class="present_price">1.200.000<sup>đ</sup></span>
                  </div>
                </div>
              </a>
            </div>
            <div class="grid_items">
              <a href="#">
                <span class="sale-off"> -50%</span>
                <img src="./img/storytelling-nghe-thuat-ke-chuyen-trong-marketing.jpg" alt="" />
                <div class="course_content">
                  <h3 class="course_title">Storytelling - Khám phá nghệ thuật kể chuyện trong Marketing </p></h3>
                  <div class="teacher_and_prevPrice">
                    <span class="teacher_name">Đỗ Thùy Trang</span>
                    <span class="previous_price">700.000<sup>đ</sup></span>
                  </div>
                  <div class="stars_and_presentPrice">
                    <span class="star_rate">
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      (16)
                    </span>
                    <span class="present_price">349.000<sup>đ</sup></span>
                  </div>
                </div>
              </a>
            </div>
            <div class="grid_items">
              <a href="#">
                <span class="sale-off"> -34%</span>
                <img src="./img/bi-quyet-kinh-doanh-tu-van-bao-hiem_m_1561516698.jpg" alt="" />
                <div class="course_content">
                  <h3 class="course_title">Bí quyết kinh doanh, tư vấn bảo hiểm thành công</p></h3>
                  <div class="teacher_and_prevPrice">
                    <span class="teacher_name">Nguyễn Tài Tuệ</span>
                    <span class="previous_price">600.000<sup>đ</sup></span>
                  </div>
                  <div class="stars_and_presentPrice">
                    <span class="star_rate">
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      (13)
                    </span>
                    <span class="present_price">399.000<sup>đ</sup></span>
                  </div>
                </div>
              </a>
            </div>
            <div class="grid_items">
              <a href="#">
                <span class="sale-off"> -63%</span>
                <img src="./img/nhập-hàng TQ_m_1620113367.jpg" alt="" />
                <div class="course_content">
                  <h3 class="course_title">Nhập Hàng Trung Quốc Tận Gốc</p></h3>
                  <div class="teacher_and_prevPrice">
                    <span class="teacher_name">Nguyễn Tuấn Anh</span>
                    <span class="previous_price">1.490.000<sup>đ</sup></span>
                  </div>
                  <div class="stars_and_presentPrice">
                    <span class="star_rate">
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      (27)
                    </span>
                    <span class="present_price">549.000<sup>đ</sup></span>
                  </div>
                </div>
              </a>
            </div>
            <div class="grid_items">
              <a href="#">
                <span class="sale-off"> -83%</span>
                <img src="./img/anh-bia-khoa-hoc_excel_1602325459-1_m_1605720844.jpg" alt="" />
                <div class="course_content">
                  <h3 class="course_title">Excel ứng dụng thực tế trong doanh nghiệp</p></h3>
                  <div class="teacher_and_prevPrice">
                    <span class="teacher_name">Lê Chí Xuân</span>
                    <span class="previous_price">1.200.000<sup>đ</sup></span>
                  </div>
                  <div class="stars_and_presentPrice">
                    <span class="star_rate">
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      (21)
                    </span>
                    <span class="present_price">199.000<sup>đ</sup></span>
                  </div>
                </div>
              </a>
            </div>
            <div class="grid_items">
              <a href="#">
                <span class="sale-off"> -43%</span>
                <img src="./img/thumb_m_1568254672.jpg" alt="" />
                <div class="course_content">
                  <h3 class="course_title">Soạn thảo văn bản Word 365 từ cơ bản đến nâng cao</p></h3>
                  <div class="teacher_and_prevPrice">
                    <span class="teacher_name">Đỗ Trung Thành</span>
                    <span class="previous_price">700.000<sup>đ</sup></span>
                  </div>
                  <div class="stars_and_presentPrice">
                    <span class="star_rate">
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      (2)
                    </span>
                    <span class="present_price">399.000<sup>đ</sup></span>
                  </div>
                </div>
              </a>
            </div>
            <div class="grid_items">
              <a href="#">
                <span class="sale-off"> -38%</span>
                <img src="./img/quan-tri-cuoc-doi-le-tham-duong.jpg" alt="" />
                <div class="course_content">
                  <h3 class="course_title">Quản trị cuộc đời - Đường đến thành công</p></h3>
                  <div class="teacher_and_prevPrice">
                    <span class="teacher_name">Ts. Lê Thẩm Dương</span>
                    <span class="previous_price">800.000<sup>đ</sup></span>
                  </div>
                  <div class="stars_and_presentPrice">
                    <span class="star_rate">
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      (156)
                    </span>
                    <span class="present_price">499.000<sup>đ</sup></span>
                  </div>
                </div>
              </a>
            </div>
            <div class="grid_items">
              <a href="#">
                <span class="sale-off"> -63%</span>
                <img src="./img/9-buoc-luyen-nghe-tieng-anh_m_1556176786.jpg" alt="" />
                <div class="course_content">
                  <h3 class="course_title">9 Bước luyện nghe Tiếng Anh đột phá</p></h3>
                  <div class="teacher_and_prevPrice">
                    <span class="teacher_name">Hannah Phạm</span>
                    <span class="previous_price">700.000<sup>đ</sup></span>
                  </div>
                  <div class="stars_and_presentPrice">
                    <span class="star_rate">
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      (27)
                    </span>
                    <span class="present_price">259.000<sup>đ</sup></span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </section>
        <!-- End Super Sales -->

        <!-- Start Other Courses -->
        <section id="other_courses">
          <div class="tab_content">
            <div class="other_courses_title">
              <h4>MỚI RA MẮT</h4>
              <a href="#" class="watchmore">Xem thêm <i class="fa fa-angle-double-right"></i></a>
            </div>
            <div class="list_courses_column">
              <a href="#" class="course">
                <img src="./img/Chatbot-Automation_m_1612935841.jpg" alt="">
                <div class="course_content">
                  <h3 class="course_title">
                    Chatbot Automation - Bán hàng và CSKH Tự động với Chatbot
                  </h3>
                  <div class="teacher">Nguyễn Trọng Thơ</div>
                  <div class="presentPrice_and_prevPrice">
                    <div class="present_price">599.000 <sup>đ</sup></div>
                    <div class="previous_price">1.000.000 <sup>đ</sup></div>
                  </div>
                </div>
              </a>
              <a href="#" class="course">
                <img src="./img/z2642833563091_88a9dfb3137e02625597b99517419e20_m_1627375367.jpg" alt="">
                <div class="course_content">
                  <h3 class="course_title">
                    Giỏi phát âm tiếng Anh chỉ bằng 2 công thức 2H & GTR 
                  </h3>
                  <div class="teacher">Nhóm giảng viên Mr Soup - Ms Chloe - Ms May May - Ms Huyen Linh </div>
                  <div class="presentPrice_and_prevPrice">
                    <div class="present_price">499.000 <sup>đ</sup></div>
                    <div class="previous_price">1.900.000 <sup>đ</sup></div>
                  </div>
                </div>
              </a>
              <a href="#"class="course">
                <img src="./img/nu-hoang-ban-le_m_1563437792.jpg" alt="">
                <div class="course_content">
                  <h3 class="course_title"> Nữ hoàng bán lẻ 
                  </h3>
                  <div class="teacher">Phạm Hà</div>
                  <div class="presentPrice_and_prevPrice">
                    <div class="present_price">599.000 <sup>đ</sup></div>
                    <div class="previous_price">700.000 <sup>đ</sup></div>
                  </div>
                </div>
              </a>
            </div>
            <div class="slick-dots">
              <button class="active"></button>
              <button></button>
              <button></button>
              <button></button>
            </div>
          </div>
          <div class="tab_content">
            <div class="other_courses_title">
              <h4>XEM NHIỀU</h4>
            </div>
            <div class="list_courses_column">
              <a href="#"class="course">
                <img src="./img/facebook-marketing-a-z_m_1555557477.jpg" alt="">
                <div class="course_content">
                  <h3 class="course_title">
                    Facebook Marketing từ A - Z
                  </h3>
                  <div class="teacher">Hồ Ngọc Cương</div>
                  <div class="presentPrice_and_prevPrice">
                    <div class="present_price">799.000 <sup>đ</sup></div>
                    <div class="previous_price">1.000.000 <sup>đ</sup></div>
                  </div>
                </div>
              </a>
              <a href="#"class="course">
                <img src="./img/khoa-hoc-seo-online_m_1555575597.jpg" alt="">
                <div class="course_content">
                  <h3 class="course_title">
                    Học SEO từ A - Z 
                  </h3>
                  <div class="teacher">Henry Phước</div>
                  <div class="presentPrice_and_prevPrice">
                    <div class="present_price">599.000 <sup>đ</sup></div>
                    <div class="previous_price">700.000 <sup>đ</sup></div>
                  </div>
                </div>
              </a>
              <a href="#"class="course">
                <img src="./img/anh-van-giao-tiep-cho-nguoi-hoan-toan-mat-goc_m_1555555777.jpg" alt="">
                <div class="course_content">
                  <h3 class="course_title"> Anh văn giao tiếp cho người hoàn toàn mất gốc
                  </h3>
                  <div class="teacher">Th.s Ruby Thảo Trần</div>
                  <div class="presentPrice_and_prevPrice">
                    <div class="present_price">479.000 <sup>đ</sup></div>
                    <div class="previous_price">600.000 <sup>đ</sup></div>
                  </div>
                </div>
              </a>
            </div>
            <div class="slick-dots">
              <button class="active"></button>
              <button></button>
              <button></button>
              <button></button>
            </div>
          </div>
          <div class="tab_content">
            <div class="other_courses_title">
              <h4>KHÓA HỌC VIP</h4>
            </div>
            <div class="list_courses_column">
              <a href="#"class="course">
                <img src="./img/30-tuyet-chieu-tang-doanh-so_m_1555557945.jpg" alt="">
                <div class="course_content">
                  <h3 class="course_title">
                    30 Tuyệt chiêu gia tăng doanh số ngay lập tức
                  </h3>
                  <div class="teacher">Phạm Thành Long</div>
                  <div class="presentPrice_and_prevPrice">
                    <div class="present_price">1.299.000 <sup>đ</sup></div>
                    <div class="previous_price">2.000.000 <sup>đ</sup></div>
                  </div>
                </div>
              </a>
              <a href="#"class="course">
                <img src="./img/money-counts-live-xay-dung-he-thong-kiem-tien-tren-internet_m_1555558304.jpg" alt="">
                <div class="course_content">
                  <h3 class="course_title">
                    Money Counts Live - Xây dựng hệ thống kiếm tiền trên Internet
                  </h3>
                  <div class="teacher">Phạm Thành Long</div>
                  <div class="presentPrice_and_prevPrice">
                    <div class="present_price">1.299.000 <sup>đ</sup></div>
                    <div class="previous_price">3.000.000 <sup>đ</sup></div>
                  </div>
                </div>
              </a>
              <a href="#"class="course">
                <img src="./img/hoc-kinh-doanh-dot-pha_m_1555571297.jpg" alt="">
                <div class="course_content">
                  <h3 class="course_title"> Kinh doanh đột phá
                  </h3>
                  <div class="teacher">Phạm Thành Long</div>
                  <div class="presentPrice_and_prevPrice">
                    <div class="present_price">1.011.000 <sup>đ</sup></div>
                    <div class="previous_price">1.686.000 <sup>đ</sup></div>
                  </div>
                </div>
              </a>
            </div>
            <div class="slick-dots">
              <button class="active"></button>
              <button></button>
              <button></button>
              <button></button>
            </div>
          </div>
        </section>
        <!-- End Other Courses -->

        <!-- Start Business and Startup -->
        <section id="best_sales" class="start_up"> 
          <div class="tile_and_watchmore">
            <h4 class="title">KINH DOANH - KHỞI NGHIỆP</h4>
          </div>
          <div class="grid drag_to_scroll">
            <div class="grid_items">
              <a href="#">
                <span class="sale-off"> -75%</span>
                <img src="./img/Banner-UNICA FINAL_m_1602667897.jpg" alt="" />
                <div class="course_content">
                  <h3 class="course_title">TikTok : Tiếp cận 100.000+ khách hàng trong 30 ngày với chi phí 0 đồng</p></h3>
                  <div class="teacher_and_prevPrice">
                    <span class="teacher_name">Cấn Mạnh Linh</span>
                    <span class="previous_price">390.000<sup>đ</sup></span>
                  </div>
                  <div class="stars_and_presentPrice">
                    <span class="star_rate">
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      (7)
                    </span>
                    <span class="present_price">99.000<sup>đ</sup></span>
                  </div>
                </div>
              </a>
            </div>
            <div class="grid_items">
              <a href="#">
                <span class="sale-off"> -83%</span>
                <img src="./img/Bí-quyết bán lẻ ngàn đơn trên Shopee, Zalo và Facebook_m_1567158164.jpg" alt="" />
                <div class="course_content">
                  <h3 class="course_title">Bí quyết bán lẻ ngàn đơn trên Shopee, Zalo và Facebook</p></h3>
                  <div class="teacher_and_prevPrice">
                    <span class="teacher_name">Trần Hoa</span>
                    <span class="previous_price">1.200.000<sup>đ</sup></span>
                  </div>
                  <div class="stars_and_presentPrice">
                    <span class="star_rate">
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      (29)
                    </span>
                    <span class="present_price">199.000<sup>đ</sup></span>
                  </div>
                </div>
              </a>
            </div>
            <div class="grid_items">
              <a href="#">
                <span class="sale-off"> -79%</span>
                <img src="./img/Untitled-1_m_1599656740.jpg" alt="" />
                <div class="course_content">
                  <h3 class="course_title">Kinh doanh theo mạng từ A đến Z</p></h3>
                  <div class="teacher_and_prevPrice">
                    <span class="teacher_name">Nguyễn Minh Cường</span>
                    <span class="previous_price">950.000<sup>đ</sup></span>
                  </div>
                  <div class="stars_and_presentPrice">
                    <span class="star_rate">
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      (16)
                    </span>
                    <span class="present_price">199.000<sup>đ</sup></span>
                  </div>
                </div>
              </a>
            </div>
            <div class="grid_items">
              <a href="#">
                <span class="sale-off"> -60%</span>
                <img src="./img/hoc-forex-gia-tri-mang-lai-thanh-cong_m_1561366696.jpg" alt="" />
                <div class="course_content">
                  <h3 class="course_title">Học Forex - Những giá trị mang lại thành công</p></h3>
                  <div class="teacher_and_prevPrice">
                    <span class="teacher_name">Trần Quốc Minh (Forex)</span>
                    <span class="previous_price">500.000<sup>đ</sup></span>
                  </div>
                  <div class="stars_and_presentPrice">
                    <span class="star_rate">
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      (6)
                    </span>
                    <span class="present_price">199.000<sup>đ</sup></span>
                  </div>
                </div>
              </a>
            </div>
            <div class="grid_items">
              <a href="#">
                <span class="sale-off"> -79%</span>
                <img src="./img/Screenshot-2020-07-08 at 14_m_1594221430.jpg" alt="" />
                <div class="course_content">
                  <h3 class="course_title">Thu nhập thụ động từ việc Đóng gói kiến thức & tạo khoá học Online</p></h3>
                  <div class="teacher_and_prevPrice">
                    <span class="teacher_name">Nguyễn Chương</span>
                    <span class="previous_price">900.000<sup>đ</sup></span>
                  </div>
                  <div class="stars_and_presentPrice">
                    <span class="star_rate">
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      (10)
                    </span>
                    <span class="present_price">190.000<sup>đ</sup></span>
                  </div>
                </div>
              </a>
            </div>
            <div class="grid_items">
              <a href="#">
                <span class="sale-off"> -78%</span>
                <img src="./img/1_m_1603164903.jpg" alt="" />
                <div class="course_content">
                  <h3 class="course_title">Khởi nghiệp thực chiến từ A - Z</p></h3>
                  <div class="teacher_and_prevPrice">
                    <span class="teacher_name">Nguyễn Minh Cường</span>
                    <span class="previous_price">890.000<sup>đ</sup></span>
                  </div>
                  <div class="stars_and_presentPrice">
                    <span class="star_rate">
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      (1)
                    </span>
                    <span class="present_price">199.000<sup>đ</sup></span>
                  </div>
                </div>
              </a>
            </div>
            <div class="grid_items">
              <a href="#">
                <span class="sale-off"> -75%</span>
                <img src="./img/Video-animation_m_1601966129.jpg" alt="" />
                <div class="course_content">
                  <h3 class="course_title">Bí quyết kiếm Tiền trên Youtube bằng Video Animation: "Hiệu ứng tay vẽ"</p></h3>
                  <div class="teacher_and_prevPrice">
                    <span class="teacher_name">KNSV TV</span>
                    <span class="previous_price">799.000<sup>đ</sup></span>
                  </div>
                  <div class="stars_and_presentPrice">
                    <span class="star_rate">
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      (9)
                    </span>
                    <span class="present_price">199.000<sup>đ</sup></span>
                  </div>
                </div>
              </a>
            </div>
            <div class="grid_items">
              <a href="#">
                <span class="sale-off"> -65%</span>
                <img src="./img/Kế-toán sản xuất 1_m_1619595623.jpg" alt="" />
                <div class="course_content">
                  <h3 class="course_title">Kế toán tại doanh nghiệp sản xuất từ A-Z</p></h3>
                  <div class="teacher_and_prevPrice">
                    <span class="teacher_name">PHẠM THỊ TUYẾT</span>
                    <span class="previous_price">600.000<sup>đ</sup></span>
                  </div>
                  <div class="stars_and_presentPrice">
                    <span class="star_rate">
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      (1)
                    </span>
                    <span class="present_price">210.000<sup>đ</sup></span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </section>
        <!-- End Business and Startup -->

        <!-- Start Conquer your goal -->
        <section id="your_goal">
          <h4 class="your_goal_title">CHINH PHỤC MỤC TIÊU CỦA BẠN</h4>
          <div class="row row_1">
            <div class="row_item">
              <a href="#">
                <img src="./img/eQqdvkf.png" alt="" class="item_img">
                <div class="item_content">
                  <div class="course_logo course1"><img src="./img/icon-ct-1.png" alt="" ></div>
                  <div class="course_content">
                    <span>Đầu tư chứng khoán chuyên nghiệp Đặng Trọng Khang</span>
                    <p>5 khóa</p>
                  </div>
                </div>
                <div class="overlay"></div>
              </a>
            </div>
            <div class="row_item">
              <a href="#">
                <img src="./img/062122_combo-digital-marketing_thumb.jpg" alt="" class="item_img">
                <div class="item_content">
                  <div class="course_logo course2"><img src="./img/icon-ct-2.png" alt="" ></div>
                  <div class="course_content">
                    <span>Combo marketing online</span>
                    <p>6 khóa</p>
                  </div>
                </div>
                <div class="overlay"></div>
              </a>
            </div>
          </div>
          <div class="row row_2">
            <div class="row_item">
              <a href="#">
                <img src="./img/015121_combo-ke-toan-misa-excel_thumb.jpg" alt="" class="item_img">
                <div class="item_content">
                  <div class="course_logo course3"><img src="./img/icon-ct-3.png" alt="" ></div>
                  <div class="course_content">
                    <span>Combo kế toán misa excel</span>
                    <p>2 khóa</p>
                  </div>
                </div>
                <div class="overlay"></div>
              </a>
            </div>
            <div class="row_item">
              <a href="#">
                <img src="./img/070342_yoga-cb-giam-eo-giu-dang_thumb.jpg" alt="" class="item_img">
                <div class="item_content">
                  <div class="course_logo course4"><img src="./img/icon-ct-4.png" alt="" ></div>
                  <div class="course_content">
                    <span>Combo marketing online</span>
                    <p>2 khóa</p>
                  </div>
                </div>
                <div class="overlay"></div>
              </a>
            </div>
            <div class="row_item">
              <a href="#">
                <img src="./img/063856_combotienganhgiaotiep_thumb.jpg" alt="" class="item_img">
                <div class="item_content">
                  <div class="course_logo course5"><img src="./img/icon-ct-5.png" alt="" ></div>
                  <div class="course_content">
                    <span>Combo marketing online</span>
                    <p>3 khóa</p>
                  </div>
                </div>
                <div class="overlay"></div>
              </a>
            </div>
          </div>
          <a href ="#" class="watchmore_btn">XEM TIẾP</a>
        </section>
        <!-- End Conquer your goal -->

        <!-- Start Find Courses -->
          <section id="find_courses">
            <div class="section_title">
              <h4>
                Bạn chưa tìm thấy khóa học mình quan tâm ?
                <br>
                Unica có hơn 2.000 khóa học đang chờ bạn khám phá
              </h4>
            </div>
            <div class="find_courses_content">
              <a href="#" class="course">
                <p><i class="fa fa fa-language" aria-hidden="true"></i></p><span>Ngoại ngữ</span>
              </a>
              <a href="#" class="course">
                <p><i class="fa fa fa-line-chart" aria-hidden="true"></i></p><span>Marketing</span>
              </a>
              <a href="#" class="course">
                <p><i class="fa fa fa-desktop" aria-hidden="true"></i></p><span>Tin học văn phòng</span>
              </a>
              <a href="#" class="course">
                <p><i class="fa fa fa-paint-brush" aria-hidden="true"></i></p><span>Thiết kế</span>
              </a>
              <a href="#" class="course">
                <p><i class="fa fa fa-rocket" aria-hidden="true"></i></p><span>Kinh doanh - Khởi nghiệp</span>
              </a>
              <a href="#" class="course">
                <p><i class="fa fa fa-lightbulb-o" aria-hidden="true"></i></p><span>Phát triển cá nhân</span>
              </a>
              <a href="#" class="course">
                <p><i class="fa fa fa-shopping-cart" aria-hidden="true"></i></p><span>Sale, bán hàng</span>
              </a>
              <a href="#" class="course">
                <p><i class="fa fa fa-code" aria-hidden="true"></i></p><span>Công nghệ thông tin</span>
              </a>
              <a href="#" class="course">
                <p><i class="fa fa fa-heartbeat" aria-hidden="true"></i></p><span>Sức khỏe - Giới tính</span>
              </a>
              <a href="#" class="course">
                <p><i class="fa fa fa-cutlery" aria-hidden="true"></i></p><span>Phong cách sống</span>
              </a>
              <a href="#" class="course">
                <p><i class="fa fa fa-child" aria-hidden="true"></i></p><span>Nuôi dạy con</span>
              </a>
              <a href="#" class="course">
                <p><i class="fa fa fa-group" aria-hidden="true"></i></p><span>Hôn nhân & Gia đình</span>
              </a>
            </div>
          </section>
        <!-- End Find Courses -->

        <!-- Start Reasons -->
          <section id="reasons">
            <div class="section_title">
              <h4>3 LÝ DO BẠN NÊN HỌC ONLINE TẠI UNICA</h4>
            </div>
            <div class="reasons_content">
              <div class="reason_item">
                <div class="logo"><img src="./img/icon-ts-1.png" alt=""></div>
                <div class="text_reason">Giảng viên uy tín
                  <br><span>Bài giảng chất lượng</span>
                </div>
              </div>
              <div class="reason_item">
                <div class="logo"><img src="./img/icon-ts-2.png" alt=""></div>
                <div class="text_reason">Thanh toán 1 lần
                  <br><span>Học mãi mãi</span>
                </div>
              </div>
              <div class="reason_item">
                <div class="logo"><img src="./img/icon-ts-3.png" alt=""></div>
                <div class="text_reason">Học trực tuyến
                  <br><span>Hỗ trợ trực tiếp</span>
                </div>
              </div>
            </div>
          </section>
        <!-- End Reasons -->

        <!-- Start top teachers -->
        <section id="top_teachers">
          <div class="section_title">GIẢNG VIÊN TIÊU BIỂU</div>
          <div class="list_teachers">
            <div class="teacher">
              <img src="./img/February282018936am_ts-le-tham-duong_thumb.jpg" alt="">
              <a href="#" class="teacher_name">Thầy Thẩm Dương</a>
              <div class="teacher_des">Tiến sĩ - Diễn giả chuyên nghiệp - Chuyên gia Tài chính, Lãnh đạo, Nhân sự.....</div>
            </div>
            <div class="teacher">
              <img src="./img/February282018939am_pham-thanh-long_thumb.jpg" alt="">
              <a href="#" class="teacher_name">Phạm Thành Long</a>
              <div class="teacher_des">Luật sư - Diễn giả</div>
            </div>
            <div class="teacher">
              <img src="./img/August52016431pm_nguyen-hieu_thumb.jpg" alt="">
              <a href="#" class="teacher_name">Nguyễn Hiếu Yoga</a>
              <div class="teacher_des">Đại sứ Yoga Việt Nam - CEO Zenlife Yoga</div>
            </div>
            <div class="teacher">
              <img src="./img/March262019340pm_mai-xuan-huy-huy-quan-hoa_thumb.jpg" alt="">
              <a href="#" class="teacher_name">Huy Quần Hoa</a>
              <div class="teacher_des">Giảng viên Photoshop</div>
            </div>
            <div class="teacher">
              <img src="./img/June62017533pm_nguyen-phung-phong_thumb.jpg" alt="">
              <a href="#" class="teacher_name">Phùng Phong</a>
              <div class="teacher_des">Kỷ lục gia Siêu trí nhớ Thế giới - Chủ tịch Tổ chức Trí nhớ Việt Nam</div>
            </div>
          </div>
        </section>
        <!-- End top teachers -->

        <!-- Start Others -->
        <section id="others">
          <div class="section_title">CÁC GIẢI PHÁP KHÁC TỪ UNICA</div>
          <div class="other_home-container">
            <a href="#"class="other">
              <img src="./img/hb-edu.jpg" alt="">
              <div class="other_content">
                <p>Edubit.vn - Ai cũng có thể dạy học online</p>
                <span>Giải pháp elearning giúp tại bài giảng, bài trắc nghiệm online chỉ với 1 click chuột</span>
              </div>
            </a>
            <a href="#"class="other">
              <img src="./img/hb-aca.jpg" alt="">
              <div class="other_content">
                <p>Acabiz - Giải pháp đào tạo nội bộ cho doanh nghiệp</p>
                <span>Nâng cao năng lực đội ngũ với nền tảng Acabiz và hơn 500 khoá học chọn lọc từ Unica </span>
              </div>
            </a>
          </div>
        </section>
        <!-- End Others -->
      </div>
      <!-- Start Become Unica Teacher -->
      <section id="become_teacher">
      <div class="section_title">
        Trở thành Giảng viên Unica
      </div>
      <p>Hơn 500 giảng viên đã có khóa học trên Unica</p>
      <a href="./register" class="become_teacher_btn">ĐĂNG KÝ NGAY</a>
      </section>
      <!-- End Become Unica Teacher -->
    </div>
      <!-- End Wrapper -->

      <!-- Start Footer -->
      <%- include('partials/footer'); %>
      <!-- End Footer -->

      <script src="/js/homepage.js"></script>

