<% if (typeof accessToken=="undefined" ) {accessToken=" " } %>
  <!-- Start Header -->
  <%- include("partials/header") %>
    <!-- End Header -->

    <!-- Start Container -->

    <div class="wrapper">

      <div class="home-container">
        <h1>Hello <span style="color: blue">
            <%= user.full_name %>
          </span>,</h1>
        <br />
        <h2>Các khóa học của tôi:</h2>
        <section id="best_sales" class="start_up">

          <div class="grid drag_to_scroll">
            <% courses.forEach((course,index)=> { %>
              <div class="grid_items">
                <a href="/overview/<%= course.course_id.slug %>/<%= course._id %>">
                  <span class="sale-off"> -75%</span>
                  <img src=<%=course.course_id.img_src %> alt="" />
                  <div class="course_content">
                    <h3 class="course_title">
                      <%= course.course_id.description %>
                        </p>
                    </h3>
                    <div class="teacher_and_prevPrice">
                      <span class="teacher_name">Cấn Mạnh Linh</span>
                      <span class="previous_price"><%= course.course_id.previous_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %><sup>đ</sup></span>
                    </div>
                    <div class="stars_and_presentPrice">
                      <span class="star_rate">
                        <i class="fa fa-star co-or" aria-hidden="true"></i>
                        <i class="fa fa-star co-or" aria-hidden="true"></i>
                        <i class="fa fa-star co-or" aria-hidden="true"></i>
                        <i class="fa fa-star co-or" aria-hidden="true"></i>
                        <i class="fa fa-star co-or" aria-hidden="true"></i>
                        (7)
                      </span>
                      <span class="present_price"><%= course.course_id.present_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %><sup>đ</sup></span>
                    </div>
                  </div>
                </a>
              </div>
              <% }) %>
                <% if(courses.length==0){ %>
                  <span>Hiện không có khóa học nào</span>
                  <% } %>
          </div>
        </section>
        <!-- End Business and Startup -->



        <!-- End Become Unica Teacher -->
      </div>
      <!-- End Container -->

      <!-- Start Footer -->
      <%- include('partials/footer'); %>
        <!-- End Footer -->