<!-- Start Header -->
<%- include("partials/header") %>
    <!-- End Header -->
    <link rel="stylesheet" href="/css/quiz.css" />
    <!-- Start Wrapper -->
    <div class="wrapper">
        <section class="p-3 mb-2 ">

            <div class="home-container">
                <div class="containerquiz mb-5">
                    <h1>Bạn đã hoàn thành bài kiểm tra</h1>
                    <h1>số điểm đạt được <%= point %> </h1>
                </div>
                        
                            <div class="row">
                                <%question.forEach((element,index)=> {%>
                                <div class="col-12">
                                    <p class="fw-bold">
                                        <%=element.title %>
                                    </p>
                                    <div>
                                        <%element.answer.forEach((q,i)=> {%>

                                            <label for="<%=i%><%=index%>" class="box first">
                                                <% if((JSON.stringify(i) + JSON.stringify(index) ) == temp[index]){ %> 
                                                <input type="radio" name="<%=index%>" id="<%=i%><%=index%>" value="<%=i%>" checked>
                                                <%} else {%>
                                                    <input type="radio" name="<%=index%>" id="<%=i%><%=index%>" value="<%=i%>">
                                                    <%}%>
                                                <div class="course ms-5"> <span class="subject">
                                                        <%=q %>
                                                    </span> </div>
                                            </label>
                                            <%})%>
                                    </div>
                                <label for="four" class="box forth">
                                    <div class="course result"> <span class="subject "> Kết quả: <%= result[index]  %> </span> </div>
                                </label>
                                </div>

                                <%})%>
                            
                            </div>
                            



                                
            </div>
    </div>
    </section>

    </div>

    <!-- End Wrapper -->


    <!-- Start Footer -->
    <%- include('partials/footer'); %>
        <!-- End Footer -->