<!-- Start Header -->
<%- include("./partials/header") %>
<!-- End Header -->
<link rel="stylesheet" href="/css/sameprice.css" />
<!-- Start Container -->
<div class="content">
  <div class="main same_price">
    <div class="main_header">
      <div class="same-price-container">
        <form class="searchbar" action="/donggia" method="GET">
          <input type="text" placeholder="Bạn muốn tìm khóa học nào ?" name="key" />
          <div class="btn" onclick="document.querySelector('form.searchbar').submit()">
            <i class="fa fa-search search" aria-hidden="true"></i>
          </div>
        </form>
      </div>
    </div>
    <div class="main_content">
      <div class="same-price-container">
        <div class="row mb-4 d-flex justify-content-start mb-5">
          <% if (categories.length) categories.forEach(category=>{ %>
          <div class="col-4">
            <a href="/donggia?c=<%- category._id %>"><div class="courses_category"><%- category.name %></div></a>
          </div>
          <% }) %>
        </div>
        <div class="row">
          <div class="grid drag_to_scroll">
            <% courses.forEach(course=>{ %>
            <div class="grid_items">
              <a href="#">
                <span class="sale-off"> -75%</span>
                <img src="<%- course.img_src %> " alt="" />
                <div class="course_content">
                  <h3 class="course_title"><%- course.name %></h3>
                  <div class="teacher_and_prevPrice">
                    <span class="teacher_name"><%- course.trainer_id %></span>
                    <span class="previous_price"
                      ><%- course.previous_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %><sup>đ</sup></span
                    >
                  </div>
                  <div class="stars_and_presentPrice">
                    <span class="star_rate">
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      <i class="fa fa-star co-or" aria-hidden="true"></i>
                      (7)
                    </span>
                    <span class="present_price"
                      ><%- course.present_price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %><sup>đ</sup></span
                    >
                  </div>
                </div>
              </a>

              <div class="d-flex justify-content-center">
                <div class="btn btn-add-to-cart mb-2" data-id="<%- course._id %>">
                  <span class="d-block txt-add">Thêm vào giỏ hàng</span>
                  <span class="d-block txt-mem"> Đã có 847 người học</span>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
        <div class="load-more">
          <div class="btn">Xem thêm</div>
        </div>
      </div>
    </div>
  </div>
  <form action="" method="POST" id="add-to-cart-form"></form>
</div>
<!-- End Container -->

<!-- Start Footer -->
<%- include('./partials/footer'); %>
<script src="/js/same_price.js"></script>
<!-- End Footer -->
